.completeTweet {
    color: black;
    border-radius: 1%;
    border-style: solid;
    border-color: black;
    background-color:antiquewhite;
    margin-bottom: 1%;
}

.TweetTitle {
    padding: 1%;
    border-bottom: 1%;
    border-bottom-style: solid;
    border-color: black;
    display: flex;
}
.TweetContent {
    padding: 1%;
}

.TweetFooter {
    padding: 1%;
    display: flex;
    border-top: 1%;
    border-color: black;
    border-top-style: solid;
}

.TweetStateBanner {
    padding: 1%;
    border-bottom-style: solid;
    border-bottom: 1%;
    border-color: grey;
}

.QuoteBody {
    padding: 1%;
    border-bottom-style: solid;
    border-bottom: 1%;
    border-color: grey;
}

.TweetArticleContainer {
    border-top-style: solid;
    border-top: 1%;
    border-color: grey;
}

.TweetImage {
    max-width: 100%;
    max-height: 100%;
}