<button 
    hx-post="/retweet/{{ tweet.id }}" 
    hx-target="#retweet-container-{{ tweet.id }}" 
    hx-swap="outerHTML"
    class="flex items-center space-x-1 group"
    id="retweet-container-{{ tweet.id }}">
    <span class="material-symbols-outlined text-2xl transition 
        {% if tweet.engagements.retweeted %} text-blue-500 {% else %} text-gray-600 group-hover:text-gray-800 {% endif %}">
        repeat
    </span>
    <span class="text-gray-700">{{ tweet.engagements.retweets }}</span>
</button>

