# Never include live configuration file under version control!
config.ini

# Dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db

# Node.JS
yarn.lock
package-lock.json

# Python setuptools/distutils
build/
dist/
Pipfile
Pipfile.lock
*.egg-info/

# Other Python
*.pyc
pyproject.toml
__pycache__/
.ipynb_checkpoints/

*.log

frontend/src/Configuration/config.js

backend/src/configuration/config.js

backend/src/eligibility/Resources/domains.json

backend/src/eligibility/User_Data/978813333301268480.json
