@media only screen and (min-width: 1500px) {
  .Feed {
    text-align: center;
    width: 40%;
    margin-left: 30%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1500px) {
  .Feed {
    text-align: center;
    width: 60%;
    margin-left: 20%;
  }
}

@media only screen and (max-width: 500px){
  .Feed {
    text-align: center;
    width: 90%;
    margin-left: 5%;
  }
}

.Title {
  text-align: center;
  width: 100%;
  color: white;
  background-color: black;
  height: 5%;
  max-height: 5%;
  min-height: 5%;
  margin-bottom: 1%;
}

.TopInstructions {
  border-style: solid;
  border-radius: 1%;
  border-color: black;
  text-align: center;
  margin-bottom: 1%;
}

.BottomNavBar {
  min-height: 7.5vh;
  max-height: 7.5vh;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  z-index: 2;
  justify-items: center;
  background-color: lightgray;
  padding-top: 0.75%;
  padding-bottom: 2%;
}

.nextBtn {
  max-width: 10%;
  height: 5vh;
  margin-left: 45%;
}

.rightImg {
  max-height: 5vh;
}

.Trigger{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 48%;
  top: 0%;
}

@media only screen and (min-width: 1500px) {
  .rightImg {
    margin-left: 47.5%;
    width: 50px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1500px) {
  .rightImg {
    margin-left: 48.5%;
    width: 3%;
  }
}

@media only screen and (max-width: 825px){
  .rightImg {
    margin-left: 46.5%;
    width: 7%;
  }
}

@media only screen and (max-width: 500px){
  .rightImg {
    margin-left: 45.5%;
    width: 9%;
  }
}
