.Feed {
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

.Title {
  text-align: center;
  width: 100%;
  color: white;
  background-color: black;
  height: 5%;
  max-height: 5%;
  min-height: 5%;
  margin-bottom: 1%;
}

.TopInstructions {
  padding: 1%;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 1%;
}