[Unit]
Description=database_access.py service file
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/Rockwell/backend/src/databaseAccess
ExecStart=/home/ubuntu/Rockwell/backend/.venv/bin/gunicorn -b 0.0.0.0:5052 -t 600 "database_access:app"
Restart=always

[Install]
WantedBy=multi-user.target
