[Unit]
Description=service file
After=network.target

[Service]
User=ubuntu
WorkingDirectory=[directory of api]
ExecStart=[gunicorn directory] -b [local host port for api] -t 600 "[api]:app" 
Restart=always

[Install]
WantedBy=multi-user.target     

